@import '../../styles/vars';

.header-nav {

  width: 100%;
  display: flex;
  height: 70vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: ease 0.3s;

  
  &.isClose{
    width: 0vw;
    height: 0vh;
    opacity: 0;
    
  }

  .header-nav-items {

    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: $primaryPurple;
    padding: 2em;
    font-size: 1.1em;
   
  }

  .header-nav-items--user {

    background-color: $primaryYellow;
    padding: 0.5em;
    border-radius: 50%;

    .user-icon-tooltip {

      display: flex;
      justify-content: center;
      background-color: #fff;
      color: $primaryPurple;
      border: 2px solid $primaryPurple;
      text-align: center;
      font-size: 1em;
      

      .tooltip-title{
        font-weight: bold;
      }

      .tooltip-list {

        .tooltip-items {
          margin: 0.5em;
        }
      }

      .tooltip-button {
        border: none;
        background-color: $primaryPurple;
        border-radius: 5px;
        width: 100%;
        color: #fff;
        font-size: 1em;
        padding: 0.3em;
      }

      .header-nav-items-icon {
        color: $primaryPurple;
       
  
        &.connected {
          color: #fff;
          background-color: $primaryPurple;
  
        }
      }
    }

    &.connected {
      background-color: $primaryPurple;
      border: 5px solid $primaryYellow;
    }

    .header-nav-items-icon {
      color: $primaryPurple;

      &.connected {
        color: #fff;
        background-color: $primaryPurple;

      }
    }
  }
}

@media screen and (min-width : 912px) {
 
  .header-nav {

    width: 65vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2%;

    &.isClose{
      display: flex;
      width: 65vw;
      height: 15vh;
      flex-direction: row;
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 2%;
      opacity: 1;
    }
    .header-nav-items {
  
      font-size: 1.2em;
      
      &.disconnect {
        display: none;
      }

      &:hover {
        text-decoration: underline;
      }
     
    }
    
  }
}
