@import '../../styles/vars';

.header {

  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  position: relative;
  background-color: $primaryYellow;
  border: solid;
  border-width: 0px 0px 50px 0px;
  border-color:  $primaryYellow;
  border-radius: 0 0 100% 0;

  .header-banner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    
    .header-title {
      
      font-family: 'Bubble', sans-serif;
      color: $primaryPurple;
      font-size: 2em;
      padding: 0.5em;
      
      
      
    }
    
    .header-buttonMenu {
      color: $primaryPurple;
      margin-right: 1.5em;
      transform: rotate(-90deg);
      transition: transform 0.5s;

      &.isClose {
        transform: rotate(0deg);
      }
    }
  }
}

@media screen and (min-width : 756px) {
  
  .header {

    .header-banner {
      display: flex;
      align-items: baseline;

      .header-title {
        font-size: 4em;
      }
      
      .header-buttonMenu {
        display: none;
      }
    }
  }
  
}

