@import '../../styles/vars';

.header{
  background-color: $primaryYellow;
  position: relative;
  z-index: 1;
  border-bottom: 1.1em solid $primaryPurple;
  

  .header-title{
    font-family: 'Bubblegum', sans-serif;
    text-align: center;
    color: $primaryPurple;
    padding: 2em;
    font-size: 2.5em
  }

  .header-burgerButton{
    position: absolute;
    top: 5%;
    right: 5%;
    color: $primaryPurple;
    z-index: 3;
  }

  .header-nav{
    position: absolute;
    border: 2px solid $primaryPurple;
    background-color: $primaryYellow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    width: 100%;
    height: 50vh;
    text-align: center;
    font-family: 'Lato', sans-serif;
  
    .header-nav-items{
      color: $primaryPurple; 
      font-weight: bold;
      

      &:hover{
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .header{
    z-index: 10;
    border: none;
    .header-title{
      font-size: 5em;
      padding: 0.5em;
    }

    .header-burgerButton {
      display:none;
    }

    .header-nav{
      display: flex;
      flex-direction: row;
      position: relative;
      bottom: 0;
      height: 20%;
      border: none;
      .header-nav-items{
        flex-grow: 1;
        color: $primaryPurple;
        background-color: $secondaryYellow;
        border: 2px solid $primaryPurple;
        font-family: 'Lato', sans-serif;
        font-weight: bold;

      }
    }
  }
}

