@import '../../styles/vars';

.apology-by-categories {


  .go-back {
    margin: 2% auto;
    padding: 1em;
    .go-back-button {
      margin: 0 auto;
      width: 100%;
      color: #fff;
      background-color: $primaryPurple;
      border-radius: 25px;
      font-size: 1.2em;
      border: none;
      padding: 0.8em 1em;
    }
  }
}
