@import '../../styles/vars';

.registration {

  margin: 5% 5%;
  padding: 1em;

  
  .registration-form {

    display: flex;
    flex-direction: column;
    
    
    &.fieldset {
      background-color: #fff;
      border: 1px solid $primaryPurple;
      border-radius: 20px;
      padding: 2em ;
      color: $primaryPurple;
      font-weight: bold;

      .legend {
        font-size: 1.2em;
        padding: 0.1em;

        .registration-form-field{
          font-size: 1em;
        }
      }
      .registration-form-button {
        line-height: 2em;
        margin-top: 5%;
        color: #ffffff;
        background-color: $primaryPurple;
        border: 1px solid $primaryPurple;
        font-size: 1em;
        border-radius: 10px;
        box-shadow: 2px 2px 10px gray;
      }

      .registration-form-paragraphe {
        text-align: center;
        font-size: 0.8em;
        margin-top: 1em;
        font-style: italic;
        font-weight: normal;
        .paragraphe-link {

          &:hover {
            color: #fff;
            background-color: $primaryPurple;
            padding: 0em 0.5em;
            border-radius: 15px;
            font-style: normal;
          }
        }
      }

      
    }

  }
}

@media screen and (min-width : 756px) {
  .registration {

    margin: 5% auto;
    padding: 1em;
    width: 60%;
    
    .registration-form {
  
     
      
      &.fieldset {
       
        .legend {
         
          font-size: 2em;
  
          .registration-form-field{
            
          }
        }
        .registration-form-button {
         
        }
  
        .registration-form-paragraphe {
         
          .paragraphe-link {
  
            &:hover {
              
            }
          }
        }
  
        
      }
  
    }
  }
}
