@import '../../styles/vars';

.main {
  margin: 5% 2%;
 
  
  .main-title {
    text-transform: uppercase;
    background-color: #FFFEF1;
    font-family: 'Cp';
    font-size: 1.5em;
    font-style: italic;
    color: $primaryPurple;
    padding:0.5em 0 0em 1em;
    border-radius: 50px 50px 0 0;
    border: 1px solid $primaryPurple;
    border-bottom: none;
    
    
  }
}




@media screen and (min-width : 912px) {
  .main {

  
    .main-title {
      text-decoration: underline;
      text-transform: uppercase;
      font-family: 'Cp';
      font-size: 3em;
      color: $primaryPurple;
      padding-left: 3em;
      padding-bottom: 1em;
    }
  }
}
