@import '../../styles/vars';

.main {
  margin: 5% 0%;

  .main-title {
    text-transform: uppercase;
    
    font-family: 'Cp';
    font-size: 1.5em;
    font-style: italic;
    color: $primaryPurple;
    padding-left: 0.5em;
  }
}


@media screen and (min-width : 756px) {
  .main {

  
    .main-title {
      text-decoration: underline;
      text-transform: uppercase;
      font-family: 'Cp';
      font-size: 3em;
      color: $primaryPurple;
      padding-left: 2em;
    }
  }
}
