@import 'reset';
@import 'vars';

body {
  font-family: sans-serif;
}


// or you can import your own font
@font-face {
  font-family: 'Bubblegum';
  src: url('../assets/fonts/Bubblegum.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Regular.ttf');
}


