@import 'reset';
@import '_vars';

@font-face {
  font-family: 'Bubble';
  src: url('../assets/fonts/Bubblegum.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Cp';
  src: url('../assets/fonts/CHICKEN\ Pie.ttf');
}

body {
  font-family: sans-serif;
  // background-color: #FEFFF1;
  background: url('../assets/images/banana_backgroundJPEG.jpeg');
  background-size: contain;
  font-family: 'Lato', sans-serif;
  
  
  &::-webkit-scrollbar {
    width: 0px;
    background-color: #fff;
    border-radius: 50%;
  }
  
  
}

 
