@import '../../styles/vars';

.description {

  background-color: $backgroundColor;
  border-radius: 15%;
  margin: 10% 0;
  padding: 5%;
  position: relative;

  .description-title {

    .description-title-span {
      font-family: 'Bubble', sans-serif;
      color: $primaryPurple;
      font-size: 2em;
      font-weight: normal;
      font-style: normal;
      display: block;
      text-align: center;
    }

  }

  .description-content {
    font-family: 'Lato', sans-serif;
    color: $primaryPurple;
    font-weight: bold;
    padding-bottom: 4em;
    line-height: 1.2em;
    margin-top: 0.5em;

    .content-link {
      background-color: #78317bf3;
      color: #fff;
      padding: 1em;
      border-radius: 15px;
      position: absolute;
      bottom: 20px;
      right: 40px;
      

    }
  }
}

@media screen and (min-width : 912px) {
  .description {
    margin: 5% 0;
    border-radius: 50px ;
    padding: 2%;
    width: 90%;
    margin: 5em auto 1em auto;
    .description-title {
      font-size: 2em;

      
    }
    
    .description-content {
      font-size: 1.2em;
      width: 80%;
      margin: 1% auto;
      line-height: 1.5em;
      // letter-spacing: 2px;
      
    }
  }
}
