@import '../../styles/vars';

.apology-create {

  margin: 5% 5%;
  color: $primaryPurple;

  .apology-form {


    .form-fieldset {
      background-color: #fff;
      border: 1px solid $primaryPurple;
      border-radius: 15px ;
      padding: 1em;
      display: flex;
      flex-direction: column;
     

      .form-legend {
        font-weight: bold;
        font-size: 1.5em;
        padding: 0.1em;
      }
      .form-success {
        margin: 1% auto;
        font-weight: bold;
        border:  2px solid $primaryPurple;
        box-shadow: 5px 5px 10px $primaryPurple;
        padding: 2em;
        border-radius: 5px;
      }

      .form-help {
        display: flex;
        justify-content: flex-end;
     
        .help-tooltip {

          background-color:$primaryPurple;
          color: #fff;
          
          font-size: 1em;
          .tooltip-list {
            padding: 1em;

          }

          .tooltip-items {
            
            margin: 1em 0;
            
          }
        }
      }
      .form-error {
        border: 1px solid red;
        border-radius: 5px;
        padding: 1em;
        margin-bottom: 1em;
        .error-description {
          font-weight: bold;
          text-align: center;
        }
      }

      .form-label {
        display: flex;
        flex-direction: column;
        font-weight: bold;

       
        
        .form-input {
          padding: 0.5em;
          margin: 0.5em 0 1em 0;
          border: 1px solid $primaryPurple;
          border-radius: 5px;
          color: $primaryPurple;

        
        }

      }
      .form-categories-choice {

        .form-categories-title {
          font-weight: bold;
        }
        
        .form-categories {
          display: flex;
          flex-wrap: wrap;
          border: 1px solid $primaryPurple;
          border-radius: 5px;
          padding: 1em;
          margin-top: 0.5em;
        

          

          .form-label {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-weight: normal;
            justify-content: flex-end;
            flex-grow: 1;
            width: 120px;
            
            
            .form-input {
              margin: 1em;
            }
          }
        }
      }
      .form-submit {
        margin-top: 1em;
        border: none;
        background-color: $primaryPurple;
        border-radius: 10px;
        padding: 0.5em;
        color: #fff;
        font-size: 0.9em;

      }
    }
  }
}

@media screen and (min-width : 600px){
  .apology-create {
    .apology-form {
      .form-fieldset { 
        .form-categories-choice {
          .form-categories-title {
            font-weight: bold;
          }
          
          .form-categories {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            border: 1px solid $primaryPurple;
            border-radius: 5px;
            padding: 1em;
            margin-top: 0.5em;
            justify-content: center;
            align-items: center;
  
            .form-label {
              display: flex;
              flex-direction: row;
              align-items: center;
              font-weight: normal;
              justify-content: flex-end;
              width: 120px;
              
              
              .form-input {
                margin: 1em;
              }
            }
          }
        }
       
      }
    }
  } 
}

@media screen and (min-width : 952px) {
  .apology-create {

   
    .apology-form {
      max-width: 1200px;
      margin: 0 auto 6em auto;
  
      .form-fieldset {
        padding: 2.5em;
  
        .form-legend {
          font-size: 2em;
        }
  
        .form-label {
         font-size: 1.2em;
          
          .form-input {
            line-height: 2em;
          }
        }
        .form-categories-choice {

          .form-categories-title {
            font-weight: bold;
            font-size: 1.2em;
          }
          .form-categories {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            border: 1px solid $primaryPurple;
            border-radius: 5px;
            padding: 1em;
            margin-top: 0.5em;
            justify-content: center;
            align-items: center;
  
            .form-label {
              display: flex;
              flex-direction: row;
              align-items: center;
              font-weight: normal;
              justify-content: flex-end;
              width: 120px;
              
              
              .form-input {
                margin: 1em;
              }
            }
          }
          
          
        }
        .form-submit {
         width: 80%;
         margin: 2em auto 0 auto;
         font-size: 1.2em;
         
  
        }
        
      }
    }
  }
}
